# Application
NODE_ENV=development
PORT=3333
API_PREFIX=api/v1
BUSINESS_TIME_ZONE=America/Manaus
CORS_ORIGIN=http://localhost:3001
SWAGGER_ENABLED=true
SWAGGER_PATH=docs

# PostgreSQL
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/solasstec_portaria?schema=public
