NODE_ENV=production
PORT=3333
API_PREFIX=api/v1
BUSINESS_TIME_ZONE=America/Manaus
CORS_ORIGIN=http://localhost:3001
SWAGGER_ENABLED=true
SWAGGER_PATH=docs
DATABASE_URL=postgresql://postgres:postgres@database:5432/solasstec_portaria?schema=public

# Configurações do Banco de Dados
POSTGRES_DB=solasstec_portaria
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
PGTZ=UTC
